* 	{margin: 2px; 
	padding: 2PX; 	
	border-radius:8px;
	font-family:Cooper Black;
	box-sizing:border-box;}


.continer{
	margin: 90px;
	margin-left: auto;
	width:130%; 
	max-width: 320px;
	background: rgb(9, 67, 109);
	padding: 20px; 
	
}
.continer2{
	margin-top: 50px;
display: block;
margin: auto;
	margin-right: auto;
	width:109%;
	min-width: 200px;
	max-width: 800px;
	background: rgb(207, 221, 231);
	padding: 20px; 
	
}
	


input{display:black; 
	align-items:;
	padding:9px;
	width:90%; 
	margin:2px;
 	font-size:10px; 


}
.Img-Login{ width:30px;
	padding:2px;
	display: block;
	text-align: left;
	
} 

.Top-User{ width:120px;
	display: block;
	margin: auto;
} 

.Boton{
	font-style:arial;
	padding: auto;
	margin:17px;
	background-color: 
}
.Boton a {color:black;
text-decoration:unset;}

.Boton a:hover{background:rgb(9, 67, 109)}
		border-radius:auto;}
	
}